/* ~~~~~ TEXTME ~~~~~ */

body {
  color: #333;
  line-height: 1.5;
}
main {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}
h1, h2, h3, h4, h5, h6, h7 {
  margin: 1em 0 0.5em 0;
  line-height: 1.2;
}
img {
  max-width: 100%;
}
pre, code, samp, kbd {
  color: #009;
  font-family: monospace,monospace;
}
pre, blockquote {
  background: #eee;
  padding: 0.5em;
}
pre {
  overflow: auto;
  font-size: 0.8em;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
blockquote {
  border-left: medium solid #ccc;
  margin: 1em 0;
}
blockquote :first-child {
  margin-top: 0;
}
blockquote :last-child {
  margin-bottom: 0;
}
table {
  border-collapse: collapse;
}
th, td {
  border: thin solid #999;
  padding: 0.3em 0.4em;
  text-align: left;
}

@media screen and (min-width: 40em) {
  body {
    background: #444;
  }
  main {
    background: #fff;
    background-image: url(../img/top.svg), url(../img/down.svg);
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
    padding: 10em 6em;
    margin: 1em auto;
    box-shadow: 0.4em 0.4em 0.4em #222;
  }
}
/* ~~~~~ FI TEXTME ~~~~~ */




p, ol, ul, li{
    text-align: justify;
    text-justify: inter-word;
}
h1{
    text-align: center;
    margin-top: 10em
}
h2{
    margin-top: 20em;
}

h3{
    margin-top: 4em;
}
h4{
    margin-top: 2em;
    color: #9e2050
}



table {
  margin: 0 auto;
}
table tr:last-child {
  border-bottom: 4px double black;

}
th,td {
	border: 0px solid lightgrey;
	padding: 0.25rem 0.75rem;
}



li.preg {
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
    text-align: justify;
    text-justify: inter-word;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* ~~~~~ IMG ~~~~~ */

img[alt="c"]{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img[alt="c500"]{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="c250"]{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img[alt="250"]{
    width: 250px;
}
img[alt="fr250"]{
    width: 250px;
    float: right;
    margin: 0 0 0 0.7em;
}
img[alt="fr"]{
    float: right;
    margin: 0 0 0 0.7em;
}
img[alt="fl250"]{
    width: 250px;
    float: left;
    margin: 0 .7em 0 0;
}
img[alt="fl"]{
    float: left;
    margin: 0 5px 0 0;
}


